<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title" type="text" placeholder="Title" class="form-control">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" type="text" rows="3" placeholder="Description" class="form-control"></textarea>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="client">Client</label>
      <select id="client" class="form-control">
        <option>Client A</option>
        <option>Client B</option>
        <option>Client C</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="productArea"> Product Area </label>
      <select id="productArea" class="form-control">
        <option>Billing</option>
        <option>Claims</option>
        <option>Policies</option>
        <option>Reports</option>
      </select>
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="targetDate">Target Date</label>
      <input id="targetDate" type="date" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label for="clientPriority">Client Priority</label>
      <input id="clientPriority" type="number" placeholder="1...n"
        onkeydown="javascript: if(event.keyCode == 190 || event.keyCode == 189 || event.keyCode ==187 ||event.keyCode == 69){return false}else{return true}"
        class=" form-control">
    </div>
  </div>

</form>